<h1>Submit A New Poem</h1>
<form method="POST" action="/poems">
  <h4>Title</h4>
  <input type="text" name="title">

  <h4>Date</h4>
  <input type="text" name="date">

  <h4>Content</h4>
  <textarea name="content" style="width:250px;height:150px;"></textarea>

  <h4>Category</h4>
  <input type="text" name="category">
  <br><br>
  <input type="submit" value="Submit Poem">
</form>
