<center>
<div id='flash' class='notice'>
  <% if flash.has?(:message) %>
    <center><%= flash[:message] %></center>
  <% end %>
</div>

<h1>Submit A New Poem</h1>

<form method="POST" action="/poems">
  <h4>Title</h4>
  <input type="text" name="poems[title]">

  <h4>Date</h4>
  <input type="text" name="poems[date]">

  <h4>Content</h4>
  <textarea name="poems[content]" style="width:250px;height:150px;"></textarea>

  <h4>Category</h4>
  <input type="text" name="poems[category]">
  <br><br>
  <input type="submit" value="Submit Poem">
</form>
</center>
