h1 {
   text-align: center;
   color: white;
   font-size: 4em;
   text-decoration: underline;
}

h1 #main_title {
  font-size: 5.0em;
  text-decoration: underline;
  color: white;
  text-align: center;
}

p {
  color: #533535;
  font-size: 1.05em;
}

#poem {
  color: #533535;
  font-size: 1.05em;
}

#main_heading {
  font-size: 24px;
}

h2 {
  font-size: 1.75em;
  color: white;
}

h2 #user_show_heading {
  text-decoration: underline;
  font-size: 2.00em;
}

h3 {
  font-size: 1.5em;
  color: white;
}

body {
  background-color: #a07676;
  font-family: 'Raleway', sans-serif;
  color: #F5F1F1;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #494848;
  font-size: 20px;
}

a:hover {
  color: white;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.main_links {
  font-size: 35px;
  color: ##cecccc;
  text-align: center;
  font-weight: bold;
}

#flash {
  text-align: center;
  background-color: #2C2323;
  color: white;
}
