h1 {
   text-align: center;
   color: white;
   font-size: 4em;
   text-decoration: underline;
}

h1 #main_title {
  font-size: 5.5em;
  text-decoration: underline;
  color: white;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  color: white;
}

h3 {
  font-size: 1.5em;
  color: white;
}

body {
  background-color: #a07676;
  font-family: 'Raleway', sans-serif;
  color: #F5F1F1;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #494848;
  font-size: 1.0em;
}

a:hover {
  color: white;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.main-links a {
  font-size: 2em;
  display: inline-block;
  color: #604646;
  text-align: center;
}
