<div id='flash' class='notice'>
  <% if flash.has?(:message) %>
   <%= flash[:message] %>
  <% end %>
</div>
<h1>Login to Desktopoetry</h1>
<form method="post" action="/login">
  <label>Username:</label>
  <br>
  <input type="text" name="username">
  <br>

  <label>Password:</label>
  <br>
  <input type="password" name="password">
  <br>

  <input type="submit" value="submit">
</form>
