<div id='flash' class='notice'>
  <% if flash.has?(:message) %>
   <%= flash[:message] %>
  <% end %>
</div>
<h1>Welcome to Desktopoetry</h1>
<center>
<h3>To sign up, enter username + password below</h3>
<form action="/signup" method="POST">
  <label>Username</label>
  <br>
  <input type="text" name="username">
  <br>
  <label>Password</label>
  <br>
  <input type="password" name="password">
  <br>
  <label>Email</label>
  <br>
  <input type="email" name="email">
  <br><br>
  <input type="submit" value="Sign Up">
</form>
<br><br>
<a href="/login">Log In To Existing Desktopoetry Account</a>
</center>
