<h1>Sign Up For Desktopoetry</h1>
<form action="/signup" method="POST">
  <label>Username</label>
  <br>
  <input type="text" name="username">
  <br><br>
  <label>Password</label>
  <br>
  <input type="password" name="password">
  <br>
  <label>Email</label>
  <br>
  <input type="email" name="email">
  <br>
  <input type="submit" value="Sign Up">
</form>
