<center><h1>Welcome to Desktopoetry</h1></center>
<center><p>A desktop for creating, viewing and editing poetry<p></center>
<center>
<a href="/signup">Sign Up</a>   <a href="/login">Login</a>   <a href="/logout">Logout</a>
</center>
