<!DOCTYPE html>
<html>
  <head>
    <title>Desktopoetry</title>
    <link rel="stylesheet" href="<%= url("/stylesheet.css")%>" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">
</head>
<body>
  <%= yield %>
</body>
</html>
